.game_title {
    text-align: center;
}
.container {
    font-family: emoji;
    width: 868px;
    height: 868px;
    display: grid;
    font-size: 24px;
    margin: auto;
    grid-template-columns: repeat(31, 28px);
    grid-template-rows: repeat(31, 28px);
}
.wall {
    text-align: center;
    background-color: forestgreen;
}
.road {
    text-align: center;
    background-color: forestgreen;
}
.start_point {
    text-align: center;
    background-color: mediumseagreen;
}
.goal_point {
    text-align: center;
    background-color: mediumseagreen;
}
